<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="col-xs-12">
        <h2>How was the vote spread among counties in the Alabama 2017 Special Election?</h2>
        <p>To answer this I had to scrape a table from CNN and convert it to a CSV. As opposed to getting each counties results
        one by one from the Alabama state department. I then added a column to the table to give a % margin of victory in order
        to shade each county. Lastly, I merged this with US Census county shapes which I was able to merge in Google Fusion and
        filter down to Alabama counties.</p>
        <iframe width="800" height="1000" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col4%3E%3E0+from+1UfKG4y8dWnX6kImJ4TcTQokEItGr9BLKhJZIG-XD+where+col1%3E%3E0+%3D+&#39;AL&#39;&amp;viz=MAP&amp;h=false&amp;lat=32.63047494174682&amp;lng=-86.46632421875&amp;t=1&amp;z=7&amp;l=col4%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>
      </div>
      <div class="col-xs-12">
        <h2>How much did each county shift Democratic?</h2>
        <p>I took another CNN table breaking down the 2016 election. I then merged these results with the 2017 Senate election
        results in a spreadsheet. I calculated the percent difference. Conveniently every county was more Democratic in 2017 than 2016,
        so I could simply show each county as a shade of blue.</p>
      <iframe width="800" height="1000" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col4%3E%3E0+from+1OmPHi8L0c8a7RYbPpiEWkIiZUacATIN-oZzOMiuH+where+col0%3E%3E0+%3D+&#39;al&#39;&amp;viz=MAP&amp;h=false&amp;lat=32.602816521142834&amp;lng=-85.99021200203896&amp;t=1&amp;z=7&amp;l=col4%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>
      </div>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/boostrap.min.js"></script>
  </body>
</html>
